{{! //card for the blog post }}
<section class="card">
  <div class="card-header">
    {{! card header with subject in h3 and poster with name and date }}
    <h3>{{subject}}</h3>
    <p>Posted by{{user}} on {{date}}</p>
  </div>
  <div class="card-body">
    <p class="card-text">{{text}}</p>
  </div>
</section>